@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: 400;
	src: url('RobotoCondensed-Regular.ttf') format('truetype');
}

html, body{
	width: 100%;
	height: 100%;
}
body{
	font-family: 'RobotoCondensed';
	margin: 0;
	background: #222;
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#stage{
	background: #000;
	width:960px;
	height:540px;
	cursor: none;
}
#credits{
	margin-top: 1em;
	font-size: 18px;
	color: #fff;
	width: 100%;
	text-align: center;
}
#credits a{ color: #cc2727; }
#credits a:hover{ color: #ee3939; }
#credits span {
	border: solid 1px #fff;
	padding: 0 5px;
	border-radius: 3px;
}
.overlay{
	display: none;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	width:100%;
	height:100%;
	position:fixed;
	margin:auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.overlay > div:nth-child(1){
	font-size: 100px;
	line-height: 100px;
}
.overlay > div:nth-child(2){
	font-size: 20px;
}
#modal_shade{
	display: none;
	background: rgba(0,0,0,0.8);
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	cursor: pointer;
}
#paused{
	cursor: pointer;
}

.ads-topo {
	width:728px;
	height: 90px;
	margin-bottom: 1em;
}

.ads-rodape {
	width:728px;
	height: 90px;
	margin-top: 1em;
}

.ads-lateral {
	width: 250px;
	min-height: 600px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}
.ads-lateral.esq {
	right: calc(50% + 500px); 
}
.ads-lateral.dir {
	left: calc(50% + 500px); 
}

@media (min-width: 1439px) {
	.ads-lateral {
		display: block;
	}
}